.bemvindo-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* antes estava center */
  background-color: #fff;
  color: #333;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', Arial, sans-serif;
}
#fontAlt {

  font-family: "Segoe Script", "Brush Script MT", cursive;
  font-size: 50px;
  transition: 5.0s;
}
#fontAlt:hover {
  color: #ccc;
  transform: scale(1.1);
}
.coluna-esquerda {
  width: 45%;
}

.coluna-esquerda h2 {
  font-size: 4rem;
  color: #d4af37; /* dourado */
  margin-bottom: 15px;
  border-bottom: 2px solid #d4af37;
  display: inline-block;
  padding-bottom: 5px;
}

.coluna-esquerda p {
  margin: 15px 0;
  font-size: 3rem; /* texto principal menor e mais equilibrado */
  color: #000;     /* letras pretas */
}

.endereco {
  font-family: 'Georgia', serif !important;
  font-size: 1rem !important;
  color: #000 !important;
}

.telefone {
  font-family: 'Courier New', monospace !important;
  font-size: 1rem !important;
  color: #000 !important;
}


.coluna-direita {
  width: 42%;
  text-align: center;
  align-self: center; 
}

.imagem-barbearia {
  max-width: 75%;
  border-radius: 10px;
  border: 2px solid #d4af37;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


